# ===== SECRETS =====
backend/src/main/resources/application.properties

# ===== Backend (Maven) =====
backend/target/
backend/.mvn/
*.class
*.jar
*.war
*.ear

# ===== Frontend (Node) =====
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# ===== IDE =====
.idea/
.vscode/
*.iml
*.iws
*.ipr

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
logs/

# ===== Misc =====
untitled/
